body{
	background-color: white;
}
h1{
	color:darkgoldenrod;
	font-family: palatino;
}
form{
	color: black;
	font-family: times new roman;
	font-size: 16px
}
p1{
	color:maroon;
	font-family: palatino;
}
p{
	color:black;
}